@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 35px 0 0 0;
}
header .logo a {
    display: block; /* width/height 적용 */
    width: 199px;
    height: 33px;
    font-size: 0; /* 글자숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 배경으로 넣은 요소가 짤리면 안되는 경우 contain -- 대부분 아이콘
        배경으로 넣은 요소가 영역을 꽉 채워야하는 경우 cover  - 대부분 배경이미지 */
    background: url(../images/logo_w.png) no-repeat center center / contain;
    content: "";
}
header .gnb .gnb_open {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-size: 22px;
    font-family: 'Eulyoo1945';
    padding: 36px 25px 32px 25px;
    display: block; /* padding을 적용하기 위한 값 */
}
header .tnb {
    display: flex;
    align-items: center;
}
header .tnb .mypage {
    width: 34px;
    height: 34px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
    margin: 0 6px 0 0;
}
header .tnb .mypage::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_124' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_124)'%3E%3Cpath d='M17.0007 16.128C15.8319 16.128 14.8314 15.7119 13.9991 14.8796C13.1668 14.0473 12.7507 13.0468 12.7507 11.878C12.7507 10.7093 13.1668 9.70875 13.9991 8.87646C14.8314 8.04417 15.8319 7.62802 17.0007 7.62802C18.1694 7.62802 19.1699 8.04417 20.0022 8.87646C20.8345 9.70875 21.2507 10.7093 21.2507 11.878C21.2507 13.0468 20.8345 14.0473 20.0022 14.8796C19.1699 15.7119 18.1694 16.128 17.0007 16.128ZM7.08398 24.9007V24.0398C7.08398 23.4549 7.25422 22.9077 7.59469 22.3982C7.9354 21.8889 8.39357 21.4934 8.96921 21.2117C10.3061 20.5707 11.6438 20.0898 12.9823 19.7692C14.3208 19.4488 15.6602 19.2886 17.0007 19.2886C18.3411 19.2886 19.6805 19.4488 21.019 19.7692C22.3575 20.0898 23.6952 20.5707 25.0321 21.2117C25.6077 21.4934 26.0659 21.8889 26.4066 22.3982C26.7471 22.9077 26.9173 23.4549 26.9173 24.0398V24.9007C26.9173 25.3165 26.7761 25.6656 26.4937 25.948C26.2113 26.2306 25.8621 26.3719 25.4461 26.3719H8.55519C8.13916 26.3719 7.78996 26.2306 7.50757 25.948C7.22518 25.6656 7.08398 25.3165 7.08398 24.9007ZM8.50065 24.9553H25.5007V24.0398C25.5007 23.7255 25.3994 23.4303 25.1968 23.1543C24.9944 22.8783 24.7143 22.6449 24.3563 22.4541C23.1904 21.8894 21.9883 21.4567 20.7499 21.1561C19.5115 20.8556 18.2617 20.7053 17.0007 20.7053C15.7396 20.7053 14.4898 20.8556 13.2514 21.1561C12.013 21.4567 10.8109 21.8894 9.64496 22.4541C9.28702 22.6449 9.00687 22.8783 8.80453 23.1543C8.60194 23.4303 8.50065 23.7255 8.50065 24.0398V24.9553ZM17.0007 14.7114C17.7798 14.7114 18.4468 14.4339 19.0017 13.8791C19.5566 13.3242 19.834 12.6572 19.834 11.878C19.834 11.0989 19.5566 10.4318 19.0017 9.87698C18.4468 9.32212 17.7798 9.04469 17.0007 9.04469C16.2215 9.04469 15.5545 9.32212 14.9996 9.87698C14.4447 10.4318 14.1673 11.0989 14.1673 11.878C14.1673 12.6572 14.4447 13.3242 14.9996 13.8791C15.5545 14.4339 16.2215 14.7114 17.0007 14.7114Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .search {
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .search::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10_127' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_127)'%3E%3Cpath d='M10.3333 16.5C8.60142 16.5 7.13369 15.8983 5.9301 14.6949C4.7267 13.4913 4.125 12.0236 4.125 10.2917C4.125 8.5598 4.7267 7.09206 5.9301 5.88848C7.13369 4.68507 8.60142 4.08337 10.3333 4.08337C12.0652 4.08337 13.5329 4.68507 14.7365 5.88848C15.9399 7.09206 16.5416 8.5598 16.5416 10.2917C16.5416 11.0444 16.4083 11.7729 16.1416 12.477C15.8749 13.1812 15.5249 13.7833 15.0916 14.2832L21.4916 20.6833C21.5929 20.7848 21.6471 20.9091 21.6541 21.0562C21.661 21.2036 21.6068 21.3348 21.4916 21.45C21.3763 21.5652 21.2484 21.6228 21.1081 21.6228C20.968 21.6228 20.8403 21.5652 20.7249 21.45L14.3249 15.05C13.7832 15.5111 13.1603 15.8681 12.4561 16.1208C11.7519 16.3736 11.0443 16.5 10.3333 16.5ZM10.3333 15.4167C11.7707 15.4167 12.9842 14.9219 13.9739 13.9322C14.9635 12.9428 15.4583 11.7293 15.4583 10.2917C15.4583 8.8541 14.9635 7.64059 13.9739 6.65114C12.9842 5.66152 11.7707 5.16671 10.3333 5.16671C8.89573 5.16671 7.68222 5.66152 6.69277 6.65114C5.70315 7.64059 5.20833 8.8541 5.20833 10.2917C5.20833 11.7293 5.70315 12.9428 6.69277 13.9322C7.68222 14.9219 8.89573 15.4167 10.3333 15.4167Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
/* header가 상단에 고정되었을때 - 스크롤 되었을때 */
header.fixed {
    position: fixed; 
    /* 꼭 body태그로만 위치조정됨 - 스크롤해도 위치가 고정됨 */
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url(../images/logo.png);
}
header.fixed .tnb .mypage::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_20_142' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_20_142)'%3E%3Cpath d='M17.0007 16.128C15.8319 16.128 14.8314 15.7119 13.9991 14.8796C13.1668 14.0473 12.7507 13.0468 12.7507 11.878C12.7507 10.7093 13.1668 9.70875 13.9991 8.87646C14.8314 8.04417 15.8319 7.62802 17.0007 7.62802C18.1694 7.62802 19.1699 8.04417 20.0022 8.87646C20.8345 9.70875 21.2507 10.7093 21.2507 11.878C21.2507 13.0468 20.8345 14.0473 20.0022 14.8796C19.1699 15.7119 18.1694 16.128 17.0007 16.128ZM7.08398 24.9007V24.0398C7.08398 23.4549 7.25422 22.9077 7.59469 22.3982C7.9354 21.8889 8.39357 21.4934 8.96921 21.2117C10.3061 20.5707 11.6438 20.0898 12.9823 19.7692C14.3208 19.4488 15.6602 19.2886 17.0007 19.2886C18.3411 19.2886 19.6805 19.4488 21.019 19.7692C22.3575 20.0898 23.6952 20.5707 25.0321 21.2117C25.6077 21.4934 26.0659 21.8889 26.4066 22.3982C26.7471 22.9077 26.9173 23.4549 26.9173 24.0398V24.9007C26.9173 25.3165 26.7761 25.6656 26.4937 25.948C26.2113 26.2306 25.8621 26.3719 25.4461 26.3719H8.55519C8.13916 26.3719 7.78996 26.2306 7.50757 25.948C7.22518 25.6656 7.08398 25.3165 7.08398 24.9007ZM8.50065 24.9553H25.5007V24.0398C25.5007 23.7255 25.3994 23.4303 25.1968 23.1543C24.9944 22.8783 24.7143 22.6449 24.3563 22.4541C23.1904 21.8894 21.9883 21.4567 20.7499 21.1561C19.5115 20.8556 18.2617 20.7053 17.0007 20.7053C15.7396 20.7053 14.4898 20.8556 13.2514 21.1561C12.013 21.4567 10.8109 21.8894 9.64496 22.4541C9.28702 22.6449 9.00687 22.8783 8.80453 23.1543C8.60194 23.4303 8.50065 23.7255 8.50065 24.0398V24.9553ZM17.0007 14.7114C17.7798 14.7114 18.4468 14.4339 19.0017 13.8791C19.5566 13.3242 19.834 12.6572 19.834 11.878C19.834 11.0989 19.5566 10.4318 19.0017 9.87698C18.4468 9.32212 17.7798 9.04469 17.0007 9.04469C16.2215 9.04469 15.5545 9.32212 14.9996 9.87698C14.4447 10.4318 14.1673 11.0989 14.1673 11.878C14.1673 12.6572 14.4447 13.3242 14.9996 13.8791C15.5545 14.4339 16.2215 14.7114 17.0007 14.7114Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .tnb .search::before {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_20_145' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='26' height='26'%3E%3Crect width='26' height='26' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_20_145)'%3E%3Cpath d='M10.3333 16.5C8.60142 16.5 7.13369 15.8983 5.9301 14.6949C4.7267 13.4913 4.125 12.0236 4.125 10.2917C4.125 8.5598 4.7267 7.09206 5.9301 5.88848C7.13369 4.68507 8.60142 4.08337 10.3333 4.08337C12.0652 4.08337 13.5329 4.68507 14.7365 5.88848C15.9399 7.09206 16.5416 8.5598 16.5416 10.2917C16.5416 11.0444 16.4083 11.7729 16.1416 12.477C15.8749 13.1812 15.5249 13.7833 15.0916 14.2832L21.4916 20.6833C21.5929 20.7848 21.6471 20.9091 21.6541 21.0562C21.661 21.2036 21.6068 21.3348 21.4916 21.45C21.3763 21.5652 21.2484 21.6228 21.1081 21.6228C20.968 21.6228 20.8403 21.5652 20.7249 21.45L14.3249 15.05C13.7832 15.5111 13.1603 15.8681 12.4561 16.1208C11.7519 16.3736 11.0443 16.5 10.3333 16.5ZM10.3333 15.4167C11.7707 15.4167 12.9842 14.9219 13.9739 13.9322C14.9635 12.9428 15.4583 11.7293 15.4583 10.2917C15.4583 8.8541 14.9635 7.64059 13.9739 6.65114C12.9842 5.66152 11.7707 5.16671 10.3333 5.16671C8.89573 5.16671 7.68222 5.66152 6.69277 6.65114C5.70315 7.64059 5.20833 8.8541 5.20833 10.2917C5.20833 11.7293 5.70315 12.9428 6.69277 13.9322C7.68222 14.9219 8.89573 15.4167 10.3333 15.4167Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            header {
                height: 50px;
            }
            header .logo {
                margin: 14px 0 0 0;
            }
            header .logo a {
                width: 134px;
                height: 23px;
            }
            header .gnb .gnb_open {
                display: block; /* 모바일에서만 보임 */
                position: absolute; /* header를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 60px;
                height: 50px;
                font-size: 0;
                line-height: 0;
            }
            header .gnb .gnb_open::before {
                position: absolute;
                left: 22px;
                top: 18px;
                width: 19px;
                height: 15px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H20' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1 8H20' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M1 16H20' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
                content: "";
            }
            header .gnb .gnb_wrap {
                display: none; /* 메뉴 숨김 */
            }
            header .tnb {
                margin: 12px 40px 0 0;
                /* 오른쪽에 gnb_open이 배치될 공간을 여백으로 주기 */
            }
            header .tnb .mypage {
                display: none; /* 숨김 */
            }
            header.fixed .gnb .gnb_open::before {
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H20' stroke='%233D3D3D' stroke-linecap='round'/%3E%3Cpath d='M1 8H20' stroke='%233D3D3D' stroke-linecap='round'/%3E%3Cpath d='M1 16H20' stroke='%233D3D3D' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            }
}/*media*/

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li strong {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    color: rgba(255,255,255,0.2);
    margin: 310px 0 0 0;
    display: block;
}
.visual ul li h2 {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    color: #fff;
    line-height: 1.1;
    margin: -58px 0 0 100px;
}
.visual ul li p {
    margin: 19px 0 0 110px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute; /* swiper를 기준으로 정렬 */
    top: 413px;
    z-index: 10; 
    /* position 속성이 들어간 요소끼리의 순서 - 숫자가 높으면 위 */
    width: 85px; /* 버튼의 크기 */
    height: 24px;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev {
    left: 1%;
}
.visual .btn_next {
    right: 1%;
}
.visual .btn_prev::before,
.visual .btn_next::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='26' viewBox='0 0 87 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M47.8125 1L85 25H0' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='87' height='26' viewBox='0 0 87 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.1875 1L2 25H87' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1400px){
            .visual .btn_prev,
            .visual .btn_next {
                display: none; /* 숨김 */
            }
}/* media */
@media screen and (max-width:640px){
            .visual ul li {
                height: 370px;
            }
            .visual ul li strong {
                font-size: 40px;
                margin: 131px 0 0 0;
            }
            .visual ul li h2 {
                font-size: 40px;
                margin: -24px 0 0 40px;
            }
            .visual ul li p {
                margin: 4px 0 0 50px;
            }
            .visual ul li p br {
                display: none;
            }
}/* meida */

.book {
    margin: 156px 0 0 0;
}
.book .wrapper {
   position: relative; /* more정렬의 기준 */
}
.book .tit {
    float: left; /* 부유요소  */
}
.book .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 12px 0;
}
.book .list {
    margin: 0 0 0 321px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);/* 가운데를 기준으로 확대 */
}
.book .list ul li a h3 {
    /* 1줄제한 -- block요소이어야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Eulyoo1945';
    font-size: 25px;
    color: #1d1d1d;
    margin: 15px 0 0 0;
}
.book .list ul li a span {
    color: #666;
    margin: 12px 0;

    /* 1줄제한 -- block요소이어야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    /* 2줄제한 */
    display: block;
    line-height: 1.4;
    height: 2.8em; /* 행간 X 줄수 = 1.4X2 = 2.8 (단위는 em) */
    overflow: hidden;
}
.book .more {
    position: absolute; /* wrapper*/
    left: 0;
    top: 216px;
}
.book .more a {
    padding: 9px 81px 9px 14px;
    border: 1px solid #999;
    display: block;
    color: #666;
    position: relative; /* after 정렬의 기준 */
}
.book .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 10px;
    top: 14px;
    width: 25px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.book .more a:hover {
    border-color: #896447;
    background-color: #896447;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            .book {
                margin: 68px 0 0 0;
            }
            .book .tit {
                float: none; /* float해제 */
            }
            .book .tit h2 {
                font-size: 30px;
                margin: 0 0 23px 0;
            }
            .book .tit h2 br {
                display: none; /* 줄바꿈 제거 */
            }
            .book .tit p {
                display: none; /* 숨김 */
            }
            .book .list {
                margin: 0;
                width: calc(100% + 20px);
                /* 오른쪽 wrapper 밖까지 list가 나오게 하기 위해서
                   list한테 100%에 오른쪽 여백 20px을 추가해줌 */
            }
            .book .list ul li {
                width: 180px;
            }
            .book .list ul li a h3 {
                font-size: 17px;
                margin: 15px 0 9px 0;
            }
            .book .list ul li a span {
                display: none; /* 숨김 */
            }
            .book .more {
                left: auto;
                right: 0; 
                /* 만약 왼쪽 정렬이었다가 오른쪽 정렬로 변경하면 
                  왼쪽값을 취소하고 auto 오른쪽 값을 줘야함 */
                top: 0;
            }
            .book .more a {
                padding: 0;
                border: 0;
                width: 34px;
                height: 34px;
                font-size: 0; /* 글자없애기 */
                line-height: 0; 
            }
            .book .more a::after {
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_156' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_156)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3528C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1929 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1929 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7424 10.8363 16.8605 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39286 8.27712 8.2829C9.3859 7.1727 10.6896 6.2939 12.1882 5.64648C13.687 4.99883 15.2886 4.675 16.9928 4.675C18.6968 4.675 20.2992 4.99836 21.7999 5.64507C23.3006 6.29177 24.606 7.16952 25.7159 8.27829C26.8261 9.38707 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1563 25.0384 8.96042C22.8426 6.76459 20.1627 5.66667 16.9988 5.66667C13.8349 5.66667 11.1551 6.76459 8.95924 8.96042C6.76341 11.1563 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .book .more a:hover {
                border-color: transparent;
                background-color: transparent;
            }
            .book .more a:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_156' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_156)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3528C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1929 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1929 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7424 10.8363 16.8605 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39286 8.27712 8.2829C9.3859 7.1727 10.6896 6.2939 12.1882 5.64648C13.687 4.99883 15.2886 4.675 16.9928 4.675C18.6968 4.675 20.2992 4.99836 21.7999 5.64507C23.3006 6.29177 24.606 7.16952 25.7159 8.27829C26.8261 9.38707 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1563 25.0384 8.96042C22.8426 6.76459 20.1627 5.66667 16.9988 5.66667C13.8349 5.66667 11.1551 6.76459 8.95924 8.96042C6.76341 11.1563 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/* media */

.interview {
    background-color: #F0ECE4;
    margin: 156px 0 0 0;
    padding: 105px 0 0 0;
    height: 980px;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .tit {
    text-align: center;
    margin: 0 0 95px 0;
}
.interview .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 12px 0;
}
.interview .more {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 9px 81px 9px 14px;
    border: 1px solid #999;
    display: inline-block;
    color: #666;
    position: relative; /* after 정렬의 기준 */
}
.interview .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 10px;
    top: 14px;
    width: 25px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.interview .more a:hover {
    border-color: #896447;
    background-color: #896447;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='white'/%3E%3C/svg%3E%0A");
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* li의 길이가 제일 긴것을 기준으로 같이 늘어남 
    각자 존재하는 길이대로 li 높이가 잡히도록  */
}
.interview .list ul li {
    width: 404px;
    position: relative; /* txt정렬의 기준 */
}
/* 디자인상 무조건 두번째 요소에 적용되는 스타일 */
.interview .list ul li:nth-child(2) {
    margin-top: 40px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
    border-radius: 70px 0 70px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 70px 0 70px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
    filter: grayscale(100%);
}
.interview .list ul li a .txt {
    position: absolute; /* li가 정렬의 기준 */
    left: 0;
    bottom: 24px;
    padding: 0 21px 0 34px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* h3, span 좌우 양쪽 끝에 배치 - txt의 넓이 안에서 양쪽 끝으로 배치 */
    width: 100%;
    /* absolute 정렬의 기준이 되는 li의 넓이와 같아짐 */
}
.interview .list ul li a .txt h3 {
    color: #fff;
    font-family: 'Eulyoo1945';
    font-size: 25px;
    line-height: 1.2;
}
.interview .list ul li a .txt p {
    display: none; /* 숨김 */
}
.interview .list ul li a .txt span {
    width: 70px;
    height: 70px;
    font-size: 0; /* 글자숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
.interview .list ul li a .txt span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_244' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='70' height='70'%3E%3Crect width='70' height='70' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_244)'%3E%3Cpath d='M33.9831 36.0211H19.3997C19.1105 36.0211 18.8679 35.9229 18.672 35.7265C18.4766 35.5306 18.3789 35.2875 18.3789 34.9973C18.3789 34.7076 18.4766 34.4655 18.672 34.2711C18.8679 34.0766 19.1105 33.9794 19.3997 33.9794H33.9831V19.3961C33.9831 19.1068 34.0813 18.8645 34.2777 18.6691C34.4736 18.4732 34.7166 18.3752 35.0068 18.3752C35.2965 18.3752 35.5386 18.4732 35.7331 18.6691C35.9275 18.8645 36.0247 19.1068 36.0247 19.3961V33.9794H50.6081C50.8973 33.9794 51.1396 34.0776 51.3351 34.274C51.531 34.4699 51.6289 34.713 51.6289 35.0032C51.6289 35.2929 51.531 35.535 51.3351 35.7294C51.1396 35.9239 50.8973 36.0211 50.6081 36.0211H36.0247V50.6044C36.0247 50.8937 35.9265 51.1362 35.7302 51.3321C35.5343 51.5275 35.2912 51.6252 35.001 51.6252C34.7113 51.6252 34.4692 51.5275 34.2747 51.3321C34.0803 51.1362 33.9831 50.8937 33.9831 50.6044V36.0211Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
/* pc버전에서만 적용 - 641px 이상에서만 적용 */
@media screen and (min-width:641px){
        /* li에 on클래스가 들어갔을때 */
        .interview .list ul li.on a {
            display: block;
            padding: 0 0 90px 0; 
            /* txt가 absolute인데 photo하단으로 내려감 
            거기까지 a 영역이어야함. 
            거기까지 bottom:0으로 배치할 수 있게 하단 여백 줌 */
        }
        .interview .list ul li.on a .photo img {
            filter: grayscale(0); /* 회색처리 삭제 */
        }
        .interview .list ul li.on a .txt {
            background-color: #896447;
            color: rgba(255,255,255,0.8);
            bottom: 0;
            padding: 45px 35px 35px 35px;
            display: block; /* flex해제 */
            width: calc(100% - 30px);
            border-radius: 50px 0 50px 0;
        }
        .interview .list ul li:nth-child(2).on a .txt {
            /* 두번째 li에 on클래스가 들어갔을때 */
            border-radius: 0 50px 0 50px;
        }
        .interview .list ul li.on a .txt h3 br {
            display: none;
        }
        .interview .list ul li.on a .txt p {
            display: block; /* none 해제 */
            margin: 14px 0;
            /* 글자 줄수 제한 */
            line-height: 1.4;
            height: 4.2em; /* 행간 X 줄수 (단위em) */
            overflow: hidden;
        }
        .interview .list ul li.on a .txt span {
            width: auto;
            height: auto;
            font-size: 15px; /* 글자나타남 */
            line-height: 1.4;
            padding: 0 24px 3px 0;
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }
        .interview .list ul li.on a .txt span::before {
            left: auto;
            right: 0;
            top: -4px;
            width: 24px;
            height: 24px;
        }
}/*media*/
@media screen and (max-width:640px){
    .interview {
        margin: 88px 0 0 0;
        padding: 64px 0 70px 0;
        height: auto;
    }
    .interview .tit {
        text-align: left;
        margin: 0 0 19px 0;
    }
    .interview .tit h2 {
        font-size: 30px;
        margin: 0;
    }
    .interview .tit p {
        display: none; /* 숨김 */
    }
    .interview .more {
        top: 0;
        left: auto;
        right: 0;
        width: auto;
    }
    .interview .more a {
        padding: 0;
        border: 0;
        width: 34px;
        height: 34px;
        display: block;
        font-size: 0;
        line-height: 0;
    }
    .interview .more a::after {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_372' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_372)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8071 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8071 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3527C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8578 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1928 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1928 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5518 10.9787 16.6472C10.8838 16.7424 10.8363 16.8604 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39284 8.27712 8.28288C9.3859 7.17269 10.6896 6.29388 12.1882 5.64647C13.687 4.99881 15.2886 4.67499 16.9928 4.67499C18.6968 4.67499 20.2992 4.99834 21.7999 5.64505C23.3006 6.29176 24.606 7.1695 25.7159 8.27828C26.8261 9.38706 27.7049 10.6907 28.3523 12.1893C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3003 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8437 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1562 25.0384 8.9604C22.8426 6.76457 20.1627 5.66665 16.9988 5.66665C13.8349 5.66665 11.1551 6.76457 8.95924 8.9604C6.76341 11.1562 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8437 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .interview .more a:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .interview .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_372' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_372)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8071 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8071 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3527C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8578 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1928 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1928 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5518 10.9787 16.6472C10.8838 16.7424 10.8363 16.8604 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39284 8.27712 8.28288C9.3859 7.17269 10.6896 6.29388 12.1882 5.64647C13.687 4.99881 15.2886 4.67499 16.9928 4.67499C18.6968 4.67499 20.2992 4.99834 21.7999 5.64505C23.3006 6.29176 24.606 7.1695 25.7159 8.27828C26.8261 9.38706 27.7049 10.6907 28.3523 12.1893C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3003 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8437 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1562 25.0384 8.9604C22.8426 6.76457 20.1627 5.66665 16.9988 5.66665C13.8349 5.66665 11.1551 6.76457 8.95924 8.9604C6.76341 11.1562 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8437 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .interview .list ul {
        display: block; /* flex해제 - 1개만 보일꺼라서  */
    }
    .interview .list ul li {
        width: auto;
    }
    /* 두번째, 세번째 숨김 */
    .interview .list ul li:nth-child(2),
    .interview .list ul li:nth-child(3) {
        display: none;
    }
    .interview .list ul li a .photo {
        border-radius: 30px 0 30px 0;
        height: 264px;
    }
    .interview .list ul li a .txt {
        position: relative; 
        left: auto;
        bottom: auto;
        padding: 19px 0 0 0;
        display: block;
    }
    .interview .list ul li a .txt h3 {
        color: #1d1d1d;
        font-size: 17px;
        margin: 0 0 13px 0;
    }
    .interview .list ul li a .txt h3 br {
        display: none; /* 줄바꿈삭제 */
    }
    .interview .list ul li a .txt p {
        display: block;
        line-height: 1.4;
        height: 4.2em;
        overflow: hidden;
    }
    .interview .list ul li a .txt span {
        display: none;
    }

}/* media */

.story .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 60px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 106px 0 27px 0;
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단에 여백 삭제 */
    line-height: 0;
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .list ul li a strong {
    font-family: 'Eulyoo1945';
    display: block;
    color: #896447;
    margin: 21px 0 16px 0;
    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.story .list ul li a h3 {
    font-family: 'Eulyoo1945';
    color: #1d1d1d;
    font-size: 25px;
    margin: 0 0 11px 0;
    /* 2줄제한 */
    line-height: 1.2;
    height: 2.4em;
    overflow: hidden;
}
.story .list ul li a p {
    line-height: 1.4;
    overflow: hidden;
}
.story .list ul li.long a p {
    height: 2.8em; /* 행간 X 줄수 (단위는 em) */
}
.story .list ul li.short a p {
    height: 8.4em;
}
.story .wrapper {
    position: relative; /* .more 정렬의 기준 */
}
.story .more {
    position: absolute; /* wrapper */
    right: 0;
    top: 10px;
}
.story .more a {
    padding: 9px 81px 7px 15px;
    border: 1px solid #999;
    display: block; /* padding을 적용하기 위한 값 */
    color: #666;
    position: relative;/* after 정렬의 기준 */
}
.story .more a::after {
    position: absolute;
    right: 9px;
    top: 13px;
    width: 25px;
    height: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.story .more a:hover {
    background-color: #896447;
    border-color: #896447;
    color: #fff;
}
.story .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='%23fff'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:640px){
    .story .tit h2 {
        font-size: 30px;
        margin: 76px 0 29px 0;
    }
    .story .list ul li {
        width: 180px;
    }
    .story .list ul li a .photo {
        height: 220px;
    }
    .story .list ul li a strong {
        margin: 10px 0 10px 0;
    }
    .story .list ul li a h3 {
        font-size: 17px;
        margin: 0;
    }
    .story .list ul li a p {
        display: none;
    }
    .story .more a {
        padding: 0;
        border: 0;
        width: 34px;
        height: 34px;
        font-size: 0;
        line-height: 0;
    }
    .story .more a::after {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_341' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_341)'%3E%3Cpath d='M16.503 17.4959V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0202C16.7412 23.1151 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.1151 17.353 23.0202C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4959H22.6655C22.806 17.4959 22.9237 17.4482 23.0186 17.3528C23.1138 17.2576 23.1613 17.1396 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6459C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3334C17.4947 11.1929 17.447 11.0752 17.3516 10.9803C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9803C16.5502 11.0752 16.503 11.1929 16.503 11.3334V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7425 10.8363 16.8605 10.8363 17.0015C10.8363 17.1422 10.8838 17.2598 10.9787 17.3542C11.0739 17.4487 11.1917 17.4959 11.3322 17.4959H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0017 12.1977 28.355C10.697 27.7083 9.39168 26.8305 8.28172 25.7218C7.17153 24.613 6.29272 23.3093 5.64531 21.8107C4.99765 20.3119 4.67383 18.7103 4.67383 17.0061C4.67383 15.3021 4.99718 13.6997 5.64389 12.199C6.2906 10.6982 7.16834 9.3929 8.27712 8.28294C9.3859 7.17275 10.6896 6.29394 12.1882 5.64653C13.687 4.99887 15.2886 4.67505 16.9928 4.67505C18.6968 4.67505 20.2992 4.9984 21.7999 5.64511C23.3006 6.29182 24.606 7.16956 25.7159 8.27834C26.8261 9.38712 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2898 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3019 26.8293 24.6072 25.7205 25.7172C24.6118 26.8273 23.3081 27.7062 21.8095 28.3536C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3334C20.1627 28.3334 22.8426 27.2355 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8362 27.2342 11.1563 25.0384 8.96047C22.8426 6.76463 20.1627 5.66672 16.9988 5.66672C13.8349 5.66672 11.1551 6.76463 8.95924 8.96047C6.76341 11.1563 5.66549 13.8362 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2355 13.8349 28.3334 16.9988 28.3334Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .story .more a:hover {
        background-color: transparent;
        border-color: transparent;
    }
    .story .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_341' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_341)'%3E%3Cpath d='M16.503 17.4959V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0202C16.7412 23.1151 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.1151 17.353 23.0202C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4959H22.6655C22.806 17.4959 22.9237 17.4482 23.0186 17.3528C23.1138 17.2576 23.1613 17.1396 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6459C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3334C17.4947 11.1929 17.447 11.0752 17.3516 10.9803C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9803C16.5502 11.0752 16.503 11.1929 16.503 11.3334V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7425 10.8363 16.8605 10.8363 17.0015C10.8363 17.1422 10.8838 17.2598 10.9787 17.3542C11.0739 17.4487 11.1917 17.4959 11.3322 17.4959H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0017 12.1977 28.355C10.697 27.7083 9.39168 26.8305 8.28172 25.7218C7.17153 24.613 6.29272 23.3093 5.64531 21.8107C4.99765 20.3119 4.67383 18.7103 4.67383 17.0061C4.67383 15.3021 4.99718 13.6997 5.64389 12.199C6.2906 10.6982 7.16834 9.3929 8.27712 8.28294C9.3859 7.17275 10.6896 6.29394 12.1882 5.64653C13.687 4.99887 15.2886 4.67505 16.9928 4.67505C18.6968 4.67505 20.2992 4.9984 21.7999 5.64511C23.3006 6.29182 24.606 7.16956 25.7159 8.27834C26.8261 9.38712 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2898 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3019 26.8293 24.6072 25.7205 25.7172C24.6118 26.8273 23.3081 27.7062 21.8095 28.3536C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3334C20.1627 28.3334 22.8426 27.2355 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8362 27.2342 11.1563 25.0384 8.96047C22.8426 6.76463 20.1627 5.66672 16.9988 5.66672C13.8349 5.66672 11.1551 6.76463 8.95924 8.96047C6.76341 11.1563 5.66549 13.8362 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2355 13.8349 28.3334 16.9988 28.3334Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/* media */
footer {
    margin: 200px 0 0 0;
}