@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.3; /* 배수 - 글자크기에 1.3배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지 전체를 감싸는 요소 - 
   가로스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 21px 0 0 0;
}
header .gnb ul {
    display: flex;
}
/* 1차메뉴는 큼직하게 눌려야 됨. 여백 및 사이즈는 a한테 줘야함. */
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    padding: 39px 25px 35px 25px;
    display: block; 
    /* padding값을 적용하기 위해서 - a가 인라인태그라 적용이 안됨 */
}
/* a태그에 마우스를 올렸을때의 스타일 */
header .gnb ul li a:hover {
    color: #013064;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.visual {
    height: 700px;
    background-image: url(../images/visual_bg_test.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background 속성을 한번에 선언하는 방법 */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual strong {
    padding: 287px 0 0 0;
    display: block; /* 인라인요소는 여백이 적용 X */
}
.visual h2 {
    font-size: 40px;
    letter-spacing: -0.02em;
    line-height: 1.1;
    margin: 10px 0 0 0;
}
.visual h2 em {
    font-weight: 800;
}

.introduce .art {
    display: flex;
    justify-content: center;
    margin: 125px 0 76px 0;
}
.introduce .scholarship {
    display: flex;
    justify-content: center;
    margin: 0 0 158px 0;
    text-align: right;
}
.introduce .art .txt {
    margin: 0 0 0 131px;
    width: 404px;
}
.introduce .scholarship .txt {
    margin: 0 131px 0 0;
    width: 404px;
}
.introduce h2 {
    font-size: 40px;
    letter-spacing: -0.02em;
    font-weight: 800;
    color: #1d1d1d;
    margin: 63px 0 0 0;
}
.introduce strong {
    font-weight: 800;
    letter-spacing: -0.02em;
    color: #1d1d1d;
    line-height: 1.2;
    font-size: 20px;
    margin: 8px 0 14px 0;
    display: block; /* margin을 적용하게 하는 방법 */
}
.introduce .btn {
    display: flex;
    /* a태그는 원래 좌우로 배치됨
    하지만 사이사이 여백이 발생 
    여백을 삭제하려면 flex로 좌우로 배치 */
    margin: 24px 0 0 0;
}
.introduce .scholarship .btn {
    justify-content: flex-end;
    /* flex로 배치한 버튼을 오른쪽 정렬 
       text-align 영향을 받지 않음 */
}
.introduce .btn a {
    border: 1px solid #666666;
    padding: 6px 15px;
    display: block; /* padding값을 적용하기 위해서 */
    margin: 0 10px 0 0;
}
/* btn 클래스 안에 있는 a중에서 마지막 a */
.introduce .btn a:last-child {
    margin-right: 0;
}
.introduce .btn a:hover {
    /* 오버전에 border가 있었다면 오버후에도 border를 주는 것이 사이즈가 유지됨 */
    border: 1px solid #013064; 
    background-color: #013064;
    color: #fff;
}

.promotion {
    /* 배경보다 promotion 콘텐츠 길이가 더 길다.. 배경의 위치를 정확하게 - 가운데 상단
       background-size 주면 안됨... 디자인한 사이즈대로 들어가야 하니까.... */
    background: url(../images/promotion_bg.png) no-repeat center top;
}
.promotion .news {
    color: rgba(255,255,255,0.8);
    padding: 123px 0 112px 0;
}
.promotion .news .wrapper {
    display: flex;
    justify-content: space-between;
}
.promotion .news .tit {
    margin: 8px 0 0 0;
}
.promotion .news .tit h2 {
    font-size: 40px;
    letter-spacing: -0.02em;
    font-weight: 800;
    color: #fff;
}
.promotion .news .tit p {
    margin: 11px 0 17px 0;
}
.promotion .news .tit a {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 6px 15px;
    display: inline-block; /* inline요소는 padding 적용 안됨 */
}
.promotion .news .tit a:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #013064;
}
.promotion .list {
    width: 725px;
}
.promotion .list ul li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.promotion .list ul li:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.promotion .list ul li a {
    /* display:flex는 해당 요소를 block요소로 만들어서 넓이를 100%로 만듬 */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 16px 26px;
}
.promotion .list ul li a strong {
    font-size: 20px;
    color: #fff;
}
/* a태그에 오버했을때 strong 태그는 */
.promotion .list ul li a:hover strong {
    font-weight: 800;
}