@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none; /* 숨김 */
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    margin: 30vh 0 0 0;
}
.visual ul li p {
    margin: 25px 0 0 0;
    font-size: 20px;
}
/*.visual ul li .bar {
    margin-top: 10px;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
}
.visual ul li .bar::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 10%;
    height: 3px;
    background-color: rgba(255,255,255,0.7);
    content: "";
}
.visual ul li.swiper-slide-active .bar::before {
    animation-name: visual_count2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes visual_count2 {
    0% { left: 0; }
    100% { left: 100%; }
}*/
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, 0);
    /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
       btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform)
       그럼 가운데 정렬이 됨  */
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿 */
    width: 160px;
    height: 4px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s; /* 5초동안 */
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards;
    /* 애니메이션 종료 후 마지막 유지, 애니메이션 반복 횟수가 제한되었을때 사용 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0; }
    100% { width: 100%; }
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
    margin-left: 5px; /* 여백 */
}
.visual .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M7.85774 9.99983L12.2518 14.3939C12.3677 14.5098 12.4242 14.6463 12.4213 14.8033C12.4183 14.9604 12.3588 15.0969 12.2429 15.2128C12.127 15.3287 11.9905 15.3866 11.8334 15.3866C11.6764 15.3866 11.5399 15.3287 11.4239 15.2128L6.9492 10.7469C6.84371 10.6414 6.76555 10.5233 6.7147 10.3924C6.66385 10.2615 6.63843 10.1307 6.63843 9.99983C6.63843 9.86896 6.66385 9.7381 6.7147 9.60724C6.76555 9.47638 6.84371 9.35821 6.9492 9.25272L11.4239 4.77783C11.5399 4.66194 11.6779 4.6055 11.838 4.60851C11.998 4.61153 12.136 4.67098 12.2518 4.78687C12.3677 4.90276 12.4257 5.03926 12.4257 5.19637C12.4257 5.35338 12.3677 5.48983 12.2518 5.60572L7.85774 9.99983Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M12.0625 14.875C11.7558 14.875 11.4916 14.7642 11.2699 14.5426C11.0483 14.3209 10.9375 14.0568 10.9375 13.75V6.25C10.9375 5.94325 11.0483 5.67906 11.2699 5.45744C11.4916 5.23581 11.7558 5.125 12.0625 5.125H13.75C14.0568 5.125 14.3209 5.23581 14.5426 5.45744C14.7642 5.67906 14.875 5.94325 14.875 6.25V13.75C14.875 14.0568 14.7642 14.3209 14.5426 14.5426C14.3209 14.7642 14.0568 14.875 13.75 14.875H12.0625ZM6.25 14.875C5.94325 14.875 5.67906 14.7642 5.45744 14.5426C5.23581 14.3209 5.125 14.0568 5.125 13.75V6.25C5.125 5.94325 5.23581 5.67906 5.45744 5.45744C5.67906 5.23581 5.94325 5.125 6.25 5.125H7.9375C8.24425 5.125 8.50844 5.23581 8.73006 5.45744C8.95169 5.67906 9.0625 5.94325 9.0625 6.25V13.75C9.0625 14.0568 8.95169 14.3209 8.73006 14.5426C8.50844 14.7642 8.24425 14.875 7.9375 14.875H6.25ZM12.0625 13.75H13.75V6.25H12.0625V13.75ZM6.25 13.75H7.9375V6.25H6.25V13.75Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지버튼만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M7.375 13.333V6.66658C7.375 6.46858 7.44281 6.30608 7.57844 6.17908C7.71394 6.05221 7.87213 5.98877 8.053 5.98877C8.11063 5.98877 8.17019 5.99696 8.23169 6.01333C8.29331 6.02958 8.35294 6.05408 8.41056 6.08683L13.6576 9.42714C13.7606 9.49739 13.8377 9.58152 13.8891 9.67952C13.9406 9.77764 13.9664 9.88439 13.9664 9.99977C13.9664 10.1151 13.9406 10.2219 13.8891 10.32C13.8377 10.418 13.7606 10.5021 13.6576 10.5724L8.41056 13.9127C8.35294 13.9455 8.29331 13.97 8.23169 13.9862C8.17019 14.0026 8.11063 14.0108 8.053 14.0108C7.87213 14.0108 7.71394 13.9473 7.57844 13.8205C7.44281 13.6935 7.375 13.531 7.375 13.333ZM8.5 12.5123L12.4519 9.99977L8.5 7.48727V12.5123Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='9.5' stroke='white' stroke-opacity='0.6'/%3E%3Cpath d='M13.1423 10.0002L8.74816 5.60607C8.63227 5.49018 8.57578 5.35373 8.5787 5.19672C8.58171 5.0396 8.64116 4.9031 8.75705 4.78722C8.87304 4.67133 9.00954 4.61338 9.16655 4.61338C9.32357 4.61338 9.46007 4.67133 9.57605 4.78722L14.0508 9.25307C14.1563 9.35856 14.2345 9.47673 14.2853 9.60759C14.3361 9.73845 14.3616 9.86931 14.3616 10.0002C14.3616 10.131 14.3361 10.2619 14.2853 10.3928C14.2345 10.5236 14.1563 10.6418 14.0508 10.7473L9.57605 15.2222C9.46006 15.3381 9.32206 15.3945 9.16203 15.3915C9.002 15.3885 8.86404 15.329 8.74816 15.2131C8.63227 15.0972 8.57432 14.9607 8.57432 14.8036C8.57432 14.6466 8.63227 14.5102 8.74816 14.3943L13.1423 10.0002Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px){
    .visual ul li h3 {
        font-size: 40px;
        margin: 35vh 0 0 0;
    }
    .visual ul li p {
        font-size: 17px;
    }
}
@media screen and (max-width:1024px){
    .visual ul li {
        height: 700px;
        min-height: auto; /* 최소 높이 */
    }
    .visual ul li h3 {
        margin: 200px 0 0 0;
    }
}
@media screen and (max-width:768px){ /* 모바일 디자인적용 */
    .visual ul li {
        height: 450px; /* 브라우저 높이만큼 */
    }
    .visual ul li h3 {
        font-size: 25px;
        margin: 136px 0 0 0;
    }
    .visual ul li h3 br.m_skip {
        display: none; /* 줄바꿈 제거 */
    }
    .visual ul li p {
        margin: 12px 0 0 0;
        font-size: 13px;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        width: 70px;
        height: 3px;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
}
@media screen and (max-width:500px){
}

section .tit h2 {
    font-size: 20px;
    color: #EA141D;
    font-weight: 700;
    margin: 127px 0 0 0;
}
section .tit h2 span {
    position: relative;/* after 정렬의 기준 */
}
section .tit h2 span::after {
    position: absolute;
    right: -16px;
    top: -13px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.94658C0 8.22303 0.0402151 8.50953 0.150823 8.78095C0.638506 9.98726 1.88034 10.7312 3.45902 10.1029C3.83609 9.95208 14.2785 5.74506 14.2785 5.74506C14.2785 5.74506 10.1659 16.1696 10.01 16.5566C9.41176 18.0495 10.1307 19.4015 11.3524 19.8539C11.6239 19.9544 11.9055 20.0047 12.182 19.9997C13.1825 19.9946 14.0623 19.4066 14.4947 18.2304C14.5601 18.0545 19.7034 3.93559 19.814 3.59883C19.8793 3.39778 20 2.92531 20 2.5986C20 1.89994 19.7436 1.2415 19.2459 0.743893C18.7582 0.251315 18.1046 0 17.4158 0C17.0789 0 16.8074 0.0603156 16.3952 0.190999C16.1488 0.27142 2.8909 5.20222 1.75968 5.62443C0.628457 6.04664 -2.76166e-06 6.95138 0.00502489 7.94658' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 45px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 1.1;
    margin: 4px 0 50px 0;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;/* before 정렬의 기준 */
    transition: 0.5s;
}
.biz .list ul li.biz1 {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz2 {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz3 {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz4 {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 690px;
    position: relative;
    z-index: 10;
    /*
        <li>
            ::before  -- li::before (positoin값이 있음)
            <a></a>
        <li>

        --li의 before가 position값이 있으면 a보다 더 위에 배치
          a를 before위에 배치하려면
          a position값을 주고 z-index를 줌
    */
}
.biz .list ul li a .inner {
    /* a를 기준으로 정렬
       마우스를 오버했을때 효과를 부드럽게 주기 위해 absolute */
    position: absolute;
    left: 5%;
    bottom: 43px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    font-weight: 700;
    display: block;
}
.biz .list ul li a .inner h3 {
    font-size: 35px;
    line-height: 1.1;
    margin: 0 0 12px 0;
    transition: 0.5s;
    white-space: nowrap;
}
.biz .list ul li a .inner p {
    opacity: 0;
    transition: 0.5s;
    /* 무조건 한줄 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (min-width:1025px){
    /* 하나의 li에 오버했을때 -- 1025px 이상일때만 적용 */
    .biz .list ul li.on {
        width: 60%;
    }
    .biz .list ul li.off {
        /* width: 16%; */
        /* 16*3 = 48 + 52 = 100 */
    }
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.off a {
        opacity: 0.8; /* a안에 있는 모든 요소가 opacity0.8 */
    }
    .biz .list ul li.on a .inner {
        bottom: 75px;
    }
    .biz .list ul li.on a .inner h3 {
        font-size: 45px;
        font-weight: 700;
    }
    .biz .list ul li.on a .inner p {
        opacity: 1;
    }
}/* media */

@media screen and (min-width:1025px) and (max-width:1300px){
    /* 1300이하 ~ 1025까지 */
    .biz .list ul li.on a .inner h3 {
        font-size: 35px;
    }
}

@media screen and (max-width:1300px){
    section .tit p {
        font-size: 35px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 30px;
    }
}
@media screen and (max-width:1024px){
    section .tit h2 {
        font-size: 17px;
        margin: 68px 0 0 0;
    }
    section .tit p {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-bottom: 1px;
    }
    .biz .list ul li a {
        height: 130px;
    }
    .biz .list ul li a .inner {
        left: 20px;
        bottom: 20px;
        width: calc(100% - 40px);
    }
    .biz .list ul li a .inner h3 {
        font-size: 25px;
        margin: 0;
    }
    .biz .list ul li a .inner h3 br {
        display: none; /* 줄바꿈 삭제 */
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}
@media screen and (max-width:768px){
    section .tit h2 {
        font-size: 15px;
    }
    section .tit h2 span::after {
        right: -10px;
        top: -8px;
        width: 14px;
        height: 14px;
    }
    section .tit p {
        font-size: 25px;
    }
}
@media screen and (max-width:500px){

}

.news .list ul li a {
    display: block;
    border-top: 1px solid #1D1D1D;
}
.news .list ul li a .date {
    display: block; /* span태그라서 block요소 처럼 */
    font-size: 35px;
    margin: 19px 0 17px 0;
}
.news .list ul li a h3 {
    color: #1d1d1d;
    font-size: 30px;
    /* 2줄 제한 */
    line-height: 1.1;
    height: 2.2em; /* 행간 * 줄수 = 2.2em(단위는 em) */
    overflow: hidden;
    margin: 0 0 17px 0;
}
.news .list ul li a p {    
    /* 3줄 제한 */
    line-height: 1.4;
    height: 4.2em; /* 행간 * 줄수 = 4.2em(단위는 em) */
    overflow: hidden;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 3px;
    background-color: #EA141D;
    content: "";
}
.news .ctrl_bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 60px 0 100px 0;
}
.news .ctrl_bar .scroll {
    position: relative; /* swiper-scollbar 정렬의 기준 */
    width: calc(100% - 260px);
}
.news .ctrl_bar .scroll .swiper-scrollbar {
    left: 0;
    bottom: 13px;
    width: 100%;
    border-radius: 0;
    background: #EDEDED;
}
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 7px;
    background: #999999;
    top: -1px;
    cursor: pointer; /* 오버할때 마우스 포인터가 손가락 모양 */
}
.news .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: #EA141D;
}
.news .ctrl_bar .btn_wrap {
    display: flex;
    gap: 5px;
}
.news .ctrl_bar .btn_wrap button {
    width: 32px;
    height: 32px;
    border: 1px solid #666;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
.news .ctrl_bar .btn_wrap button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 17px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.57199 8.99982L9.60256 16.0304C9.78798 16.2158 9.87836 16.4341 9.87369 16.6854C9.86887 16.9367 9.77375 17.1551 9.58833 17.3405C9.40275 17.526 9.18435 17.6187 8.93313 17.6187C8.6819 17.6187 8.46351 17.526 8.27793 17.3405L1.11833 10.1952C0.949549 10.0264 0.824483 9.83733 0.743127 9.62795C0.661772 9.41857 0.621094 9.2092 0.621094 8.99982C0.621094 8.79044 0.661772 8.58106 0.743127 8.37168C0.824483 8.16231 0.949549 7.97323 1.11833 7.80445L8.27793 0.644618C8.46351 0.459196 8.68432 0.368896 8.94036 0.373719C9.19641 0.378541 9.41714 0.473662 9.60256 0.659085C9.78798 0.844507 9.88069 1.06291 9.88069 1.31429C9.88069 1.56551 9.78798 1.78383 9.60256 1.96925L2.57199 8.99982Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap button.next::before {
    transform: translate(-50%, -50%) rotate(180deg);
    /* transform을 동시에 선언하는 방법 */
}
.news .ctrl_bar .btn_wrap button:hover {
    background-color: #EA141D;
    border-color: #EA141D;
}
.news .ctrl_bar .btn_wrap button:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.57199 8.99982L9.60256 16.0304C9.78798 16.2158 9.87836 16.4341 9.87369 16.6854C9.86887 16.9367 9.77375 17.1551 9.58833 17.3405C9.40275 17.526 9.18435 17.6187 8.93313 17.6187C8.6819 17.6187 8.46351 17.526 8.27793 17.3405L1.11833 10.1952C0.949549 10.0264 0.824483 9.83733 0.743127 9.62795C0.661772 9.41857 0.621094 9.2092 0.621094 8.99982C0.621094 8.79044 0.661772 8.58106 0.743127 8.37168C0.824483 8.16231 0.949549 7.97323 1.11833 7.80445L8.27793 0.644618C8.46351 0.459196 8.68432 0.368896 8.94036 0.373719C9.19641 0.378541 9.41714 0.473662 9.60256 0.659085C9.78798 0.844507 9.88069 1.06291 9.88069 1.31429C9.88069 1.56551 9.78798 1.78383 9.60256 1.96925L2.57199 8.99982Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.news .ctrl_bar .btn_wrap .more {
    display: block;
    width: 112px;
    height: 32px;
    line-height: 32px;
    color: #666;
    border: 1px solid #666;
    border-radius: 16px;
    padding-left: 40px;
    position: relative; /* before 정렬의 기준 */
}
.news .ctrl_bar .btn_wrap .more::before {
    position: absolute;
    left: 18px;
    top: 12px;
    width: 17px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.077 2.05775C4.8645 2.05775 4.68633 1.98583 4.5425 1.842C4.39883 1.69817 4.327 1.52 4.327 1.3075C4.327 1.09483 4.39883 0.916666 4.5425 0.773C4.68633 0.6295 4.8645 0.55775 5.077 0.55775H16.75C16.9625 0.55775 17.1406 0.629667 17.2843 0.7735C17.4281 0.917333 17.5 1.0955 17.5 1.308C17.5 1.52067 17.4281 1.69875 17.2843 1.84225C17.1406 1.98592 16.9625 2.05775 16.75 2.05775H5.077ZM5.077 5.75C4.8645 5.75 4.68633 5.67808 4.5425 5.53425C4.39883 5.39042 4.327 5.21225 4.327 4.99975C4.327 4.78708 4.39883 4.609 4.5425 4.4655C4.68633 4.32183 4.8645 4.25 5.077 4.25H16.75C16.9625 4.25 17.1406 4.32192 17.2843 4.46575C17.4281 4.60958 17.5 4.78775 17.5 5.00025C17.5 5.21292 17.4281 5.391 17.2843 5.5345C17.1406 5.67817 16.9625 5.75 16.75 5.75H5.077ZM5.077 9.44225C4.8645 9.44225 4.68633 9.37033 4.5425 9.2265C4.39883 9.08267 4.327 8.9045 4.327 8.692C4.327 8.47933 4.39883 8.30125 4.5425 8.15775C4.68633 8.01408 4.8645 7.94225 5.077 7.94225H16.75C16.9625 7.94225 17.1406 8.01417 17.2843 8.158C17.4281 8.30183 17.5 8.48 17.5 8.6925C17.5 8.90517 17.4281 9.08333 17.2843 9.227C17.1406 9.3705 16.9625 9.44225 16.75 9.44225H5.077ZM1.30775 2.1155C1.07892 2.1155 0.887083 2.03717 0.73225 1.8805C0.577417 1.72383 0.5 1.52967 0.5 1.298C0.5 1.072 0.577417 0.8825 0.73225 0.7295C0.887083 0.5765 1.07892 0.5 1.30775 0.5C1.53658 0.5 1.72842 0.5765 1.88325 0.7295C2.03808 0.8825 2.1155 1.072 2.1155 1.298C2.1155 1.52967 2.03808 1.72383 1.88325 1.8805C1.72842 2.03717 1.53658 2.1155 1.30775 2.1155ZM1.30775 5.798C1.07892 5.798 0.887083 5.7215 0.73225 5.5685C0.577417 5.41567 0.5 5.22617 0.5 5C0.5 4.7615 0.577417 4.56567 0.73225 4.4125C0.887083 4.25933 1.07892 4.18275 1.30775 4.18275C1.53658 4.18275 1.72842 4.25933 1.88325 4.4125C2.03808 4.56567 2.1155 4.7615 2.1155 5C2.1155 5.22617 2.03808 5.41567 1.88325 5.5685C1.72842 5.7215 1.53658 5.798 1.30775 5.798ZM1.30775 9.5C1.07892 9.5 0.887083 9.42167 0.73225 9.265C0.577417 9.10833 0.5 8.91425 0.5 8.68275C0.5 8.45658 0.577417 8.267 0.73225 8.114C0.887083 7.961 1.07892 7.8845 1.30775 7.8845C1.53658 7.8845 1.72842 7.961 1.88325 8.114C2.03808 8.267 2.1155 8.45658 2.1155 8.68275C2.1155 8.91425 2.03808 9.10833 1.88325 9.265C1.72842 9.42167 1.53658 9.5 1.30775 9.5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.news .ctrl_bar .btn_wrap .more:hover {
    background-color: #EA141D;
    border-color: #EA141D;
    color: #fff;
}
.news .ctrl_bar .btn_wrap .more:hover::before {
background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.077 2.05775C4.8645 2.05775 4.68633 1.98583 4.5425 1.842C4.39883 1.69817 4.327 1.52 4.327 1.3075C4.327 1.09483 4.39883 0.916666 4.5425 0.773C4.68633 0.6295 4.8645 0.55775 5.077 0.55775H16.75C16.9625 0.55775 17.1406 0.629667 17.2843 0.7735C17.4281 0.917333 17.5 1.0955 17.5 1.308C17.5 1.52067 17.4281 1.69875 17.2843 1.84225C17.1406 1.98592 16.9625 2.05775 16.75 2.05775H5.077ZM5.077 5.75C4.8645 5.75 4.68633 5.67808 4.5425 5.53425C4.39883 5.39042 4.327 5.21225 4.327 4.99975C4.327 4.78708 4.39883 4.609 4.5425 4.4655C4.68633 4.32183 4.8645 4.25 5.077 4.25H16.75C16.9625 4.25 17.1406 4.32192 17.2843 4.46575C17.4281 4.60958 17.5 4.78775 17.5 5.00025C17.5 5.21292 17.4281 5.391 17.2843 5.5345C17.1406 5.67817 16.9625 5.75 16.75 5.75H5.077ZM5.077 9.44225C4.8645 9.44225 4.68633 9.37033 4.5425 9.2265C4.39883 9.08267 4.327 8.9045 4.327 8.692C4.327 8.47933 4.39883 8.30125 4.5425 8.15775C4.68633 8.01408 4.8645 7.94225 5.077 7.94225H16.75C16.9625 7.94225 17.1406 8.01417 17.2843 8.158C17.4281 8.30183 17.5 8.48 17.5 8.6925C17.5 8.90517 17.4281 9.08333 17.2843 9.227C17.1406 9.3705 16.9625 9.44225 16.75 9.44225H5.077ZM1.30775 2.1155C1.07892 2.1155 0.887083 2.03717 0.73225 1.8805C0.577417 1.72383 0.5 1.52967 0.5 1.298C0.5 1.072 0.577417 0.8825 0.73225 0.7295C0.887083 0.5765 1.07892 0.5 1.30775 0.5C1.53658 0.5 1.72842 0.5765 1.88325 0.7295C2.03808 0.8825 2.1155 1.072 2.1155 1.298C2.1155 1.52967 2.03808 1.72383 1.88325 1.8805C1.72842 2.03717 1.53658 2.1155 1.30775 2.1155ZM1.30775 5.798C1.07892 5.798 0.887083 5.7215 0.73225 5.5685C0.577417 5.41567 0.5 5.22617 0.5 5C0.5 4.7615 0.577417 4.56567 0.73225 4.4125C0.887083 4.25933 1.07892 4.18275 1.30775 4.18275C1.53658 4.18275 1.72842 4.25933 1.88325 4.4125C2.03808 4.56567 2.1155 4.7615 2.1155 5C2.1155 5.22617 2.03808 5.41567 1.88325 5.5685C1.72842 5.7215 1.53658 5.798 1.30775 5.798ZM1.30775 9.5C1.07892 9.5 0.887083 9.42167 0.73225 9.265C0.577417 9.10833 0.5 8.91425 0.5 8.68275C0.5 8.45658 0.577417 8.267 0.73225 8.114C0.887083 7.961 1.07892 7.8845 1.30775 7.8845C1.53658 7.8845 1.72842 7.961 1.88325 8.114C2.03808 8.267 2.1155 8.45658 2.1155 8.68275C2.1155 8.91425 2.03808 9.10833 1.88325 9.265C1.72842 9.42167 1.53658 9.5 1.30775 9.5Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1300px){
    .news .list ul li a .date {
        font-size: 30px;
    }
    .news .list ul li a h3 {
        font-size: 25px;
    }
}/* media */
@media screen and (max-width:1024px){
    .news .list ul li {
        width: 250px;
    }
    .news .list ul li a .date {
        font-size: 25px;
        margin: 13px 0;
    }
    .news .list ul li a h3 {
        font-size: 20px;
        margin: 0 0 13px 0;
    }
    .news .ctrl_bar {
        display: block; /* flex해제 */
        margin: 40px 0 80px 0;
    }
    .news .ctrl_bar .scroll {
        width: 100%;
    }
    .news .ctrl_bar .scroll .swiper-scrollbar {
        bottom: 0;
    }
    .news .ctrl_bar .btn_wrap {
        justify-content: center;
        padding: 25px 0 0 0;
    }
    .news .ctrl_bar .btn_wrap button {
        display: none; /* 숨김 */
    }
    .news .ctrl_bar .btn_wrap .more {
        width: 112px;
        padding: 0;
        text-align: center;
    }
    .news .ctrl_bar .btn_wrap .more::before {
        display: none;
    }
}/* media */
@media screen and (max-width:768px){
    
}/* media */

.service {
    padding: 116px 0 140px 0;
    /* 브라우저 사이즈가 줄어들어서 글자가 여러줄이 되면
       높이가 변경됨... 
       아예 높이를 안주고 위아래 여백을 줌 */
    background: url(../images/main/service_bg.png) no-repeat center center / cover;
}
.service h2 {
    display: none; /* 숨김 */
}
section.service .tit p {
    color: #fff;
}
.service .list ul {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /*
        100*li의 갯수 = 33.33%
        중간여백 총합 24*2 = 48 / li의 갯수 = 48/3 = 16
        calc(33.33% - 16px)
    */
}
.service .list ul li a {
    display: block;
    height: 101px;
    background-color: #fff;
    transition: 0.5s;
}
.service .list ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}
/*
    오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 
    오류가 발생함...
    a가 이동하고 a를 감싸는 이동하지 않는 li에 오버를 적용
    :hover를 준
*/
.service .list ul li a .inner {
    margin: 0 26px 0 30px;
    padding: 24px 0 0 54px;
    position: relative; /* before 정렬의 기준 */
}
.service .list ul li a .inner::before {
    position: absolute;
    left: 0;
    top: 30px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.service .list ul li.esg a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58891 30.1514V18.9014C8.58891 18.503 8.72375 18.1689 8.99344 17.8992C9.26313 17.6298 9.59719 17.4952 9.99563 17.4952C10.3944 17.4952 10.7284 17.6298 10.9978 17.8992C11.2669 18.1689 11.4014 18.503 11.4014 18.9014V30.1514C11.4014 30.5498 11.2666 30.8839 10.9969 31.1536C10.7272 31.423 10.3931 31.5577 9.99469 31.5577C9.59594 31.5577 9.26203 31.423 8.99297 31.1536C8.72359 30.8839 8.58891 30.5498 8.58891 30.1514ZM18.9014 30.1514V18.9014C18.9014 18.503 19.0363 18.1689 19.3059 17.8992C19.5756 17.6298 19.9097 17.4952 20.3081 17.4952C20.7069 17.4952 21.0408 17.6298 21.3098 17.8992C21.5792 18.1689 21.7139 18.503 21.7139 18.9014V30.1514C21.7139 30.5498 21.5791 30.8839 21.3094 31.1536C21.0397 31.423 20.7056 31.5577 20.3072 31.5577C19.9084 31.5577 19.5745 31.423 19.3055 31.1536C19.0361 30.8839 18.9014 30.5498 18.9014 30.1514ZM4.40625 38.1202C4.00781 38.1202 3.67391 37.9853 3.40453 37.7156C3.13484 37.4459 3 37.1119 3 36.7134C3 36.3147 3.13484 35.9808 3.40453 35.7117C3.67391 35.4423 4.00781 35.3077 4.40625 35.3077H36.2091C36.6075 35.3077 36.9414 35.4425 37.2108 35.7122C37.4805 35.9819 37.6153 36.3159 37.6153 36.7144C37.6153 37.1131 37.4805 37.447 37.2108 37.7161C36.9414 37.9855 36.6075 38.1202 36.2091 38.1202H4.40625ZM29.2139 30.1514V18.9014C29.2139 18.503 29.3488 18.1689 29.6184 17.8992C29.8881 17.6298 30.2222 17.4952 30.6206 17.4952C31.0194 17.4952 31.3533 17.6298 31.6223 17.8992C31.8917 18.1689 32.0264 18.503 32.0264 18.9014V30.1514C32.0264 30.5498 31.8916 30.8839 31.6219 31.1536C31.3522 31.423 31.0181 31.5577 30.6197 31.5577C30.2209 31.5577 29.8869 31.423 29.6175 31.1536C29.3484 30.8839 29.2139 30.5498 29.2139 30.1514ZM36.2813 13.7452H4.20094C3.86719 13.7452 3.58359 13.6286 3.35016 13.3955C3.11672 13.1627 3 12.8797 3 12.5466V11.8144C3 11.5703 3.06109 11.3598 3.18328 11.183C3.30578 11.0064 3.46703 10.8628 3.66703 10.7522L18.8184 3.33891C19.2866 3.11297 19.7822 3 20.3053 3C20.8284 3 21.3256 3.11297 21.7969 3.33891L36.8723 10.7053C37.108 10.8256 37.2906 10.9939 37.4203 11.2102C37.5503 11.4267 37.6153 11.6592 37.6153 11.9077V12.4158C37.6153 12.7995 37.4897 13.117 37.2384 13.3683C36.9872 13.6195 36.6681 13.7452 36.2813 13.7452ZM9.64875 10.9327H30.9666L20.5603 5.88469C20.4759 5.84844 20.3917 5.83031 20.3077 5.83031C20.2236 5.83031 20.1394 5.84844 20.055 5.88469L9.64875 10.9327Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.service .list ul li.inv a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.54 39.1634C19.0615 39.1634 18.6608 39.0016 18.3379 38.6779C18.0147 38.3547 17.8531 37.954 17.8531 37.4759V21.3063C15.5974 21.3063 13.4354 20.8793 11.3669 20.0254C9.29875 19.1716 7.47137 17.9513 5.88475 16.3647C4.2985 14.7781 3.08781 12.9507 2.25269 10.8826C1.41756 8.81444 1 6.65238 1 4.39638V3.01206C1 2.44206 1.19275 1.96413 1.57825 1.57825C1.96375 1.19275 2.44169 1 3.01206 1H4.39638C6.60325 1 8.74 1.4305 10.8066 2.2915C12.8736 3.1525 14.7003 4.37631 16.2865 5.96294C17.4636 7.14006 18.4293 8.45481 19.1834 9.90719C19.9379 11.3596 20.4781 12.9021 20.8039 14.5349C21.0634 14.0849 21.3526 13.6585 21.6713 13.2557C21.9901 12.8534 22.3457 12.4561 22.7384 12.0638C24.3201 10.4798 26.1479 9.25675 28.2216 8.39463C30.2954 7.53213 32.4569 7.10088 34.7061 7.10088H36.091C36.661 7.10088 37.1387 7.29381 37.5242 7.67969C37.9101 8.06519 38.1031 8.54294 38.1031 9.11294V10.4973C38.1031 12.7469 37.6718 14.9086 36.8093 16.9823C35.9472 19.0561 34.7241 20.8838 33.1401 22.4656C31.5535 24.0522 29.7355 25.2631 27.6861 26.0982C25.6364 26.9333 23.4837 27.3509 21.2281 27.3509V37.4759C21.2281 37.954 21.0662 38.3547 20.7426 38.6779C20.419 39.0016 20.0181 39.1634 19.54 39.1634ZM17.875 17.875C17.875 16.075 17.5281 14.3594 16.8344 12.7281C16.1406 11.0969 15.1563 9.64375 13.8813 8.36875C12.6063 7.09375 11.1531 6.10937 9.52188 5.41562C7.89063 4.72187 6.175 4.375 4.375 4.375C4.375 6.175 4.7125 7.9 5.3875 9.55C6.0625 11.2 7.0375 12.6625 8.3125 13.9375C9.5875 15.2125 11.05 16.1875 12.7 16.8625C14.35 17.5375 16.075 17.875 17.875 17.875ZM21.2281 23.9759C23.0281 23.9759 24.7437 23.6384 26.3749 22.9634C28.0062 22.2884 29.4593 21.3134 30.7343 20.0384C32.0093 18.7634 32.9937 17.3009 33.6874 15.6509C34.3812 14.0009 34.7281 12.2759 34.7281 10.4759C32.9281 10.4759 31.2031 10.8228 29.5531 11.5165C27.9031 12.2103 26.4406 13.1946 25.1656 14.4696C23.8906 15.7446 22.9156 17.1978 22.2406 18.829C21.5656 20.4603 21.2281 22.1759 21.2281 23.9759Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.85078 31.5216H20.5242V30.9661C20.5242 30.488 20.3916 30.045 20.1262 29.6372C19.8612 29.2291 19.4914 28.9125 19.0167 28.6875C18.4036 28.4181 17.7828 28.2162 17.1544 28.0819C16.5259 27.9472 15.8703 27.8798 15.1875 27.8798C14.5047 27.8798 13.8491 27.9472 13.2206 28.0819C12.5922 28.2162 11.9714 28.4181 11.3583 28.6875C10.8836 28.9125 10.5137 29.2291 10.2487 29.6372C9.98344 30.045 9.85078 30.488 9.85078 30.9661V31.5216ZM25.6805 28.673H30.9445C31.2677 28.673 31.5347 28.5675 31.7456 28.3566C31.9569 28.1456 32.0625 27.8787 32.0625 27.5559C32.0625 27.2334 31.9569 26.9664 31.7456 26.7548C31.5347 26.5433 31.2677 26.4375 30.9445 26.4375H25.6805C25.3573 26.4375 25.0903 26.543 24.8794 26.7539C24.6681 26.9648 24.5625 27.2317 24.5625 27.5545C24.5625 27.877 24.6681 28.1441 24.8794 28.3556C25.0903 28.5672 25.3573 28.673 25.6805 28.673ZM15.1833 26.4375C15.8833 26.4375 16.4797 26.1925 16.9725 25.7025C17.4653 25.2125 17.7117 24.6175 17.7117 23.9175C17.7117 23.2178 17.4667 22.6216 16.9767 22.1287C16.4867 21.6359 15.8917 21.3895 15.1917 21.3895C14.4917 21.3895 13.8953 21.6345 13.4025 22.1245C12.9097 22.6145 12.6633 23.2094 12.6633 23.9091C12.6633 24.6091 12.9083 25.2055 13.3983 25.6983C13.8883 26.1911 14.4833 26.4375 15.1833 26.4375ZM25.6805 23.625H30.9445C31.2677 23.625 31.5347 23.5195 31.7456 23.3086C31.9569 23.0977 32.0625 22.8308 32.0625 22.508C32.0625 22.1855 31.9569 21.9184 31.7456 21.7069C31.5347 21.4953 31.2677 21.3895 30.9445 21.3895H25.6805C25.3573 21.3895 25.0903 21.495 24.8794 21.7059C24.6681 21.9169 24.5625 22.1838 24.5625 22.5066C24.5625 22.8291 24.6681 23.0961 24.8794 23.3077C25.0903 23.5192 25.3573 23.625 25.6805 23.625ZM6.38953 38.625C5.44234 38.625 4.64062 38.2969 3.98438 37.6406C3.32812 36.9844 3 36.1827 3 35.2355V15.7645C3 14.8173 3.32812 14.0156 3.98438 13.3594C4.64062 12.7031 5.44234 12.375 6.38953 12.375H16.125V5.8125C16.125 5.03906 16.4005 4.37703 16.9514 3.82641C17.502 3.27547 18.1641 3 18.9375 3H22.6875C23.4609 3 24.123 3.27547 24.6736 3.82641C25.2245 4.37703 25.5 5.03906 25.5 5.8125V12.375H35.2355C36.1827 12.375 36.9844 12.7031 37.6406 13.3594C38.2969 14.0156 38.625 14.8173 38.625 15.7645V35.2355C38.625 36.1827 38.2969 36.9844 37.6406 37.6406C36.9844 38.2969 36.1827 38.625 35.2355 38.625H6.38953ZM6.38953 35.8125H35.2355C35.4039 35.8125 35.5422 35.7584 35.6503 35.6503C35.7584 35.5422 35.8125 35.4039 35.8125 35.2355V15.7645C35.8125 15.5961 35.7584 15.4578 35.6503 15.3497C35.5422 15.2416 35.4039 15.1875 35.2355 15.1875H25.5V15.9089C25.5 16.6755 25.223 17.3358 24.6689 17.8898C24.1148 18.4439 23.4544 18.7209 22.6875 18.7209H18.9375C18.1706 18.7209 17.5102 18.4439 16.9561 17.8898C16.402 17.3358 16.125 16.6755 16.125 15.9089V15.1875H6.38953C6.22109 15.1875 6.08281 15.2416 5.97469 15.3497C5.86656 15.4578 5.8125 15.5961 5.8125 15.7645V35.2355C5.8125 35.4039 5.86656 35.5422 5.97469 35.6503C6.08281 35.7584 6.22109 35.8125 6.38953 35.8125ZM18.9375 15.9089H22.6875V5.8125H18.9375V15.9089Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.service .list ul li a .inner strong {
    color: #EA141D;
    font-weight: 700;
}
.service .list ul li a .inner h3 {
    font-size: 25px;
    color: #1D1D1D;
    line-height: 1.1;
}
@media screen and (max-width:1300px){
}
@media screen and (max-width:1024px){
    .service {
        padding: 56px 0 106px 0;
    }
    .service .list ul {
        background-color: #fff;
        border-radius: 10px;
    }
    .service .list ul li {
        width: 33.33%;
        position: relative;
    }
    .service .list ul li::after {
        position: absolute;
        right: 0;
        top: 33px;
        width: 1px;
        height: 53px;
        background-color: #ededed;
        content: "";
    }
    .service .list ul li a {
        height: 121px;
        background-color: transparent;
    }
    .service .list ul li:hover a {
        transform: translate(0, 0);
        box-shadow: none;
    }
    .service .list ul li a .inner {
        margin: 0;
        padding: 60px 0 0 0;
        text-align: center;
    }
    .service .list ul li a .inner::before {
        left: 50%;
        top: 25px;
        transform: translate(-50%, 0);
        width: 30px;
        height: 30px;
    }
    .service .list ul li a .inner h3 {
        font-size: 15px;
        white-space: nowrap;
    }
}
@media screen and (max-width:768px){

}