@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    각각의 서브 콘텐츠 페이지의 콘텐츠 내용을 코딩... 
    제일 중요한 것은 절대 이름이 겹치면 안된다는 것!! 
    규칙 cts_페이지명 감싸서 절대 다른 페이지와 이름이 겹치지 않도록 
*/

/* 회사소개 - CEO인사말 */
.cts_ceo {
    padding: 78px 0 129px 0;
    position: relative;
}
.cts_ceo::before {
    position: absolute;
    left: 0;
    top: 284px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    content: "";
}
.cts_ceo .wrapper {
    display: flex;
    justify-content: space-between;
}
.cts_ceo .photo_wrap {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 46px;

    width: 42.3%;
}
.cts_ceo .photo_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cts_ceo .txt_wrap {
    width: 48.8%;
    margin-top: 70px;
}
.cts_ceo .txt_wrap .tit p {
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 700;
}
.cts_ceo .txt_wrap .tit p strong {
    color: #EA141D;
}
.cts_ceo .txt_wrap .txt {
    margin: 70px 0 30px 0;
}
.cts_ceo .txt_wrap .txt p strong {
    font-weight: 700;
}
.cts_ceo .txt_wrap .sign {
    display: flex;
}
.cts_ceo .txt_wrap .sign strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 19px 12px 0 0;
}

@media screen and (max-width:1300px){
    .cts_ceo::before {
        top: 270px;
    }
    .cts_ceo .txt_wrap .tit p {
        font-size: 23px;
    }
    .cts_ceo .txt_wrap .txt {
        margin: 50px 0 30px 0;
    }
}/*media*/
@media screen and (max-width:1024px){
    .cts_ceo::before {
        top: 247px;
    }
    .cts_ceo .txt_wrap .tit p {
        font-size: 20px;
    }
    .cts_ceo .txt_wrap .txt {
        margin: 30px 0 20px 0;
    }
    .cts_ceo .txt_wrap .sign strong {
        font-size: 15px;
    }
}/*media*/
@media screen and (max-width:768px){
    .cts_ceo .wrapper {
        display: block;
    }
    .cts_ceo .photo_wrap {
        width: auto;

        /* 이미지만 감싸는 요소 */
        height: 248px;
        border-radius: 20px;
        max-width: 250px;
        margin: 0 auto;
    }
    .cts_ceo .txt_wrap {
        width: auto;
    }
}/*media*/